@function convert-number-to-word($num, $type) {
  $count:1;
  @each $word in one,two,three,four,five,six,seven,eight,nine,ten,eleven,
    twelve,thirteen,fourteen,fifteen,sixteen,seventeen,eighteen,nineteen,
    twenty,twentyone,twentytwo,twentythree,twentyfour{
    @if ($count == $num) {
		@if ($type == '') {

			@return $word;

		} @else if ($type == 'spaced') {

			@return $word + 'Columns';

		} @else if ($type == 'seamless') {

			@return $word + 'SeamlessColumns';
		}
	}
    $count: $count + 1;
  }
  @return "invalid";
}