	<div class="row">
		<div class="twelveColumns">
			<h3>Helper Classes</h3>

			<div class="row">
				<div class="fourColumns">
					<a name="breadcrumbs"></a>
					<h4>Breadcrumbs</h4>
					<p>To use this, just add the class of <code>breadcrumbs</code> to a <code>ul</code> or links.</p>
				</div>

				<div class="eightColumns">
					<ul class="breadcrumbs">
						<li><a href="#">Home</a></li>
						<li><a href="#">Extensions</a></li>
						<li><a href="#">Helper Classes</a></li>
						<li><span>Breadcrumbs</span></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="fourColumns">
					<a name="labels"></a>
					<h4>Labels</h4>
					<p>Labels are easy, just a <code>span</code> element with a class of <code>label</code>. Additional styling can be added by using the classes <code>round</code> or color classes like <code>alert</code> or <code>success</code>.</p>
				</div>

				<div class="eightColumns">
					<div class="row">
						<div class="threeColumns">
							<p>
								<span class="label default">Regular Label</span><br />
								<span class="round label default">Round Label</span>
							</p>
						</div>
						<div class="threeColumns">
							<p>
								<span class="alert label">Alert Label</span><br />
								<span class="success round label">Success Label</span><br />
							</p>
						</div>
					</div>
					<p><span class="label default">Example Inline Label</span> <-- this is what a label looks inlined into normal text. Here's <span class="label success">another lanel</span> for good measure.</p>
				</div>
			</div>

			<div class="row">
				<div class="fourColumns">
					<a name="keystrokes"></a>
					<h4>Keystrokes</h4>
					<p>If you want to differentiate keyboard shortcuts from regular text, you can use the element <code>kbd</code>.</p>
				</div>
				<div class="eightColumns">
					<p>For example, to close your browser hit <kbd>Cmd</kbd> + <kbd>Q</kbd>. Don't actually do it. There's more docs to read.</p>
				</div>
			</div>

			<div class="row">
				<div class="fourColumns">
					<a name="keystrokes"></a>
					<h4>Code</h4>
					<p>If you want to differentiate code from regular text, you can use the element <code>code</code>.</p>
				</div>
				<div class="eightColumns">
					<p>Here's a shell script for creating a file <code>$ touch new-file.txt</code>.</p>
				</div>
			</div>

			<div class="row">
				<div class="fourColumns">
					<a name="panels"></a>
					<h4>Panels</h4>
					<p><code>panel</code> is a helper class for defining a special section of a site or app.</p>
				</div>
				<div class="eightColumns">
					<div class="row">
						<div class="sixColumns">
							<div class="panel">
								<h5>This is a regular panel.</h5>
								<p>It has an easy to override visual style, and is appropriately subdued.</p>
							</div>
						</div>
						<div class="sixColumns">
							<div class="panel callout">
								<h5>This is a callout panel.</h5>
								<p>Just use the class <code>callout</code> to make this happen.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="fourColumns">
					<a name="inlineList"></a>
					<h4>Inline List</h4>
					<p>When you just need a horizontal list of items, <code>inlineList</code> is the class you want.</p>
				</div>
				<div class="eightColumns">
					<ul class="inlineList">
						<li>List Item 1</li>
						<li>List Item 2</li>
						<li>List Item 3</li>
						<li>List Item 4</li>
						<li>List Item 5</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="fourColumns">
					<a name="progress-bars"></a>
					<h4>Progress Bars</h4>
					<p>A simple way to add a progress bar to your layout. You can edit the border radius by adding a class of <code>radius</code> or <code>round</code>. You can change the color by adding the classes <code>secondary</code>, <code>success</code>, or <code>alert</code>. The length of the bar is dependent on it's parent column width.</p>
				</div>
				<div class="eightColumns">
					<br>
					<div class="progress">
						<span class="meter default" style="width: 20%"></span>
					</div>
					<div class="radius progress">
						<span class="meter success" style="width: 50%"></span>
					</div>
					<div class="nice round progress">
						<span class="meter alert" style="width: 80%"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="fourColumns">
					<a name="thumbs"></a>
					<h4>Image Thumbnails</h4>
					<p>When you need an image thumbnail that is slightly more styled than just a plain old image, use the <code>th</code> class on the <code>img</code>'s parent element. Below, I use an anchor element.</p>
				</div>
				<div class="eightColumns">
					<a class="th" href="#"><img src="http://placehold.it/350x200" width="350" height="200"></a>
					<a class="th" href="#"><img src="http://placehold.it/350x200" width="350" height="200"></a>
				</div>
			</div>

		</div>
	</div>
