<!-- Test Foundation Components Here -->
<div class="row">
	<div class="twelveColumns">
		<h3>Table Components</h3>

		<div class="row">
			<div class="fourColumns">
				<a name="basicTables"></a>
				<h4>Basic Table</h4>
				<p>Tables just have a basic layout and style, no biggie. The basic style includes a contrasty header, light yellow hover and subtle zebra striping.</p>
			</div>

			<div class="eightColumns">

				<table>
					<thead>
					<tr>
						<th>User</th>
						<th>DOB</th>
						<th>Phone #</th>
						<th>City</th>
						<th>Zip</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>jlowery</td>
						<td>02/20/78</td>
						<td>512-555-8487</td>
						<td>Austin</td>
						<td>78687</td>
					</tr>
					<tr>
						<td>jhibbert</td>
						<td>10/04/83</td>
						<td>874-555-4242</td>
						<td>Victoria</td>
						<td>58964</td>
					</tr>
					<tr>
						<td>agracey</td>
						<td>05/28/84</td>
						<td>312-555-5896</td>
						<td>Denver</td>
						<td>98564</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<p>&nbsp;</p>

		<div class="row">
			<div class="fourColumns">
				<a name="numbersTable"></a>
				<h4>Numbers Table</h4>
				<p>If you include the class <code>numbers</code> to the <code>tbody</code> element, a monospaced font will be used with right aline.</p>
			</div>

			<div class="eightColumns">

				<table class="numbersTable">
					<thead>
						<tr>
							<th>Account</th>
							<th>Current</th>
							<th>1-30</th>
							<th>31-60</th>
							<th>61-90</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Acme Co.</td>
							<td>$56,8569.12</td>
							<td>$16,562.35</td>
							<td>0.00</td>
							<td>0.00</td>
						</tr>
						<tr>
							<td>ABC Industries</td>
							<td>$1,568.98</td>
							<td>$589.56</td>
							<td>$12.03</td>
							<td>$100.36</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<p>&nbsp;</p>

		<div class="row">
			<div class="fourColumns">
				<a name="scrollableTable"></a>
				<h4>Scrollable Table</h4>
				<p>If you include a <code>div</code> with the class <code>scrollableTable</code> as a parent element to a table, it will allow horizontal scrolling if the parent element is not wide enough.</p>
			</div>

			<div class="eightColumns">

				<div class="scrollableTable">
					<table>
						<thead>
							<tr>
								<th>Exercise</th>
								<th>Set 0</th>
								<th>Set 1</th>
								<th>Set 2</th>
								<th>Set 3</th>
								<th>Set 4</th>
								<th>Set 5</th>
								<th>Set 6</th>
								<th>Set 7</th>
								<th>Set 8</th>
								<th>Set 9</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Push-ups</td>
								<td>10 Reps</td>
								<td>10 Reps</td>
								<td>10 Reps</td>
								<td>10 Reps</td>
								<td>10 Reps</td>
								<td>10 Reps</td>
								<td>10 Reps</td>
								<td>8 Reps</td>
								<td>6 Reps</td>
								<td>3 Reps</td>
							</tr>
							<tr>
								<td>Jumping Jacks</td>
								<td>15 Reps</td>
								<td>15 Reps</td>
								<td>15 Reps</td>
								<td>15 Reps</td>
								<td>12 Reps</td>
								<td>12 Reps</td>
								<td>9 Reps</td>
								<td>8 Reps</td>
								<td>6 Reps</td>
								<td>5 Reps</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>