/*******************************************
* SETTINGS, VARIABLES, DEFAULTS            *
*******************************************/

// Base Colors
// -------------------------

	// Grays
	$black: #111 !default;
	$grayDarker: #222 !default;
	$grayDark: #333 !default;
	$gray: #555 !default;
	$grayLight: #999 !default;
	$grayLighter: #aaa !default;
	$whiteDark: #efefef !default;
	$white: #fff !default;

	// Accent colors
	$blue: #4DA7BF !default;
	$lightBlue: #17C8FF !default;
	$green: #B5CB6D !default;
	$red: #9d261d !default;
	$orange: #E38219 !default;
	$yellow: #ffc40d !default;
	$pink: #c3325f !default;
	$purple: #913E9C !default;

// Base Typography
// -------------------------

	$bodyBackground: #F5F5F5 url('/phi/framework/img/backgrounds/100-70-3.png') !default;
	$baseTextColor: $grayDark !default;
	$baseFontSize: 1em !default;
	$bodyFontWeight: 400;

	// Links
		$linkColor: darken($blue, 20%) !default;
		$linkColorHover: darken($linkColor, 15%) !default;

	// Type Details
		$sansFontFamily: Verdana, sans-serif !default;
		$serifFontFamily: Georgia, serif !default;
		$monoFontFamily: monospace !default;
		$iconFontFamily: entypo !default;

		$smallFontSize: 0.9em !default;
		$largeFontSize: 1.125em !default;
		$baseFontFamily: $sansFontFamily !default;

	// Vertical Rhythm
		$baseLineHeight: 1.25em !default;
		$baseFontWeight: normal;
		$baseFontStyle: normal;
		$altFontFamily: $serifFontFamily !default;

		$fontSmoothing: subpixel-antialiased;

	/* Header type settings:
	 * Use the percent unit for size and line-height
	 * to prevent rounding issues in some browsers.
	 */

	// h1: 400% is 64 pixels
		$h1FontSize: 400% !default;

		// Below should equal a multiple 0f $baseLineHeight
		$h1LineHeight: 94% !default;
		$h1Padding: 0.3125em 0 !default;

		// Large size text sometimes needs to be a bit tighter
		// If you are using a "display" text, then change to zero
		$h1LetterSpacing: 0em;

	// h2: 200% is 32 pixels
		$h2FontSize: 200% !default;

		// Below should equal a multiple 0f $baseLineHeight
		$h2LineHeight: 125% !default;
		$h2Padding: 0.625em 0 !default;

		// Large size text sometimes needs to be a bit tighter
		// If you are using a "display" text, then change to zero
		$h2LetterSpacing: 0em;

	// h3 & Legend Title: 150% is 24 pixels
		$h3FontSize: 150% !default;

		// Below should equal a multiple 0f $baseLineHeight
		$h3LineHeight: 167% !default;
		$h3Padding: 0.833333333em 0 !default;

	// h4: 113% is 18 pixels
		$h4FontSize: 113% !default;

		// Below should equal a multiple 0f $baseLineHeight
		$h4LineHeight: 112% !default;
		$h4Padding: 1.1em 0 0 !default;

	// h5: 100% is 16 pixels
		$h5FontSize: 100% !default;

		// Below should equal a multiple 0f $baseLineHeight
		$h5LineHeight: 125% !default;
		$h5Padding: 1.25em 0 !default;

	// h6: 100% is 16 pixels
		$h6FontSize: 100% !default;

		// Below should equal a multiple 0f $baseLineHeight
		$h6LineHeight: 125% !default;
		$h6Padding: 1.25em 0 !default;

// Base UI
// -------------------------

	// color settings
		$mainColor: $whiteDark !default;
		$mainBorderColor: darken(($mainColor), 10%);
		$lightColor: $whiteDark !default;
		$primaryColor: $blue !default;
		$secondaryColor: $lightBlue !default;
		$alertColor: $red !default;
		$successColor: $green !default;
		$txtColor: $grayDarker !default;
		$highlightColor: $yellow !default;
		$inactiveColor: $grayLight !default;

	// Design Settings
		$cornerRadius: 3px !default;

	// Grid Settings
		$containerWidth: none !default;
		$containerMaxWidth: 960px !default;
		$containerMinWidth: none !default;
		$rowWidth: auto !default;
		$rowMainMaxWidth: none !default;
		$rowMaxWidth: none !default;
		$rowMainMinWidth: none !default;
		$rowMinWidth: none !default;
		$columnGutter: $baseLineHeight !default;

	// Column customization
	// Use with care, not tested
		$totalColumns: 12 !default;
		$mobileTotalColumns: 4 !default;
		$blockGridElements: 12 !default; // Highest number of block grid elements, Maximum of 24 supported

	// Text Direction Settings
	// This is not supported at this time.
		$textDirection: ltr !default; // Controls default global text direction, 'rtl' or 'ltr'
		$defaultDirection: left !default; // Change this to 'right' for right-to-left languages
		$defaultOpposite: right !default; // Change this to 'left' for right-to-left languages

		@if $textDirection == ltr {
		  $defaultDirection: left;
		  $defaultOpposite: right;
		} @else {
		  $defaultDirection: right;
		  $defaultOpposite: left;
		}

	// Button Settings
		$buttonFontFamily: $sansFontFamily !default;
		$buttonFontWeight: 400 !default;
		$buttonRadius: $cornerRadius !default;
		$btnBase: 10px !default;

		$tinyBtnBase: $btnBase - 5 !default;
		$smallBtnBase: $btnBase - 3 !default;
		$largeBtnBase: $btnBase + 5 !default;

	// Form Settings
		$formSpacing: 1em !default;
		$labelFontWeight: 700 !default;
		$labelFontColor: $gray !default;
		$inputFontColor: rgba(0,0,0,0.75) !default;
		$inputBgColor: $white !default;
		$inputFocusBgColor: darken(#fff, 2%) !default;
		$inputBorderColor: darken($mainBorderColor, 5%) !default;
		$inputFocusBorderColor: darken($mainBorderColor, 15%) !default;
		$inputBorderStyle: solid !default;
		$inputBorderWidth: 1px !default;
		$inputBorderRadius: $cornerRadius !default;

	// Helper Settings
		$thumbRadius: 3px !default;
		$progBarHeight: 25px !default;
		$progBarBorderColor: darken(#fff, 20%) !default;
		$progBarBorderSize: 1px !default;
		$progBarPad: 2px !default;
		$linkListBottomMargin: 17px -22px !default;
		$tableBorderRadius: $cornerRadius !default;

	// Off Canvas Width Settings
		$mainWidth: 80% !default;
		$complementaryWidth: 20% !default;

	// Media Queries
		$screenSmall: 768px !default;
		$screenMedium: 1279px !default;
		$screenXlarge: 1441px !default;
