// Overlay

$overlayTransition: .25s;

.js_overlayTrigger {
	position: relative;
}
.js_overlay {
	opacity: 0;
	position: absolute;
	transition: $overlayTransition;
	visibility: hidden;
	z-index: 999;

	&.active {
	opacity: 1;
	visibility: visible;
	}
}

// Dropdown

[data-overlay="dropdown"] {
	list-style: none;
	margin: 0;
	padding: 0;
}

// Modal

[data-overlay="modal"] {
	background-color: #fff;
	box-shadow: 0 2px 10px hsla(0,0%,0%,.5);
	height: 75%;
	left: 50%;
	margin-left: -40%;
	position: fixed;
	top: -100%;
	transition: $overlayTransition 0;
	width: 80%;
	visibility: hidden;
	z-index: 9999;

	&.active {
		top: 0;
		transition: $overlayTransition $overlayTransition;
		visibility: visible;
	}
	.close {
		color: #444;
		font-size: 1em;
		padding: 0;
		position: absolute;
		right: $baseLineHeight;
		top: $baseLineHeight;
		text-decoration: none;
		width: auto;
	}
	.modalHeader,
	.modalBody {
		padding: 1em;
	}
}
#modalBackground {
	background-color: hsla(0,0%,0%,.75);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: $overlayTransition $overlayTransition;
	visibility: hidden;
	z-index: 9998;

	&.active {
	opacity: 1;
	transition: $overlayTransition 0;
	visibility: visible;
	}
}

// Popover

[data-overlay="popover"] {

	.close {
		color: #444;
		font-size: 1em;
		padding: 0;
		text-decoration: none;
		width: auto;
	}
}

// Tooltip

[data-overlay="tooltip"],
.tooltipTop {
	background-color: hsla(0,0%,0%,.9);
	border-radius: 4px;
	bottom: 100%;
	color: #fff;
	left: 50%;
	margin-left: -6em;
	margin-bottom: .75em;
	text-align: center;
	padding: .75em 1.5em;
	position: absolute;
	width: 12em;
}
.tooltipBottom {
	bottom: auto;
	margin-top: .75em;
	top: 100%;
}
.tooltipLeft,
.tooltipRight {
	bottom: auto;
	margin-left: 0;
	top: -$baseLineHeight;
}
.tooltipLeft {
	left: auto;
	margin-right: .75em;
	right: 100%;
}
.tooltipRight {
	left: 100%;
	margin-left: .75em !important;
}
[data-overlay="tooltip"]:after {
	border-left: .5em solid transparent;
	border-right: .5em solid transparent;
	border-top: .5em solid hsla(0,0%,0%,.9);
	content: '';
	left: 50%;
	margin-left: -.5em;
	position: absolute;
	top: 100%;
}
.tooltipBottom:after {
	border-bottom: .5em solid hsla(0,0%,0%,.9);
	border-top: 0;
	bottom: 100%;
	top: auto;
}
.tooltipLeft:after,
.tooltipRight:after {
	border-bottom: .5em solid transparent;
	border-top: .5em solid transparent;
	margin-left: 0;
	margin-top: -.5em;
	top: 50%;
}
.tooltipLeft:after {
	border-left: .5em solid hsla(0,0%,0%,.9);
	left: 100%;
}
.tooltipRight:after {
	border-right: .5em solid hsla(0,0%,0%,.9);
	left: auto;
	right: 100%;
}
