<!-- Test Foundation Components Here -->
<div class="row">
	<div class="twelveColumns">
		<h3>Overlay Components</h3>

		<div class="row">
			<div class="fourColumns">
				<a name="modals"></a>
				<h4>Modals</h4>
				<p>When a modal is open, clicking on the background element will close it.</p>
			</div>

			<div class="eightColumns">

				<a class="js_overlayTrigger button default" href="#modal">Open modal</a>

				<div id="modal" class="js_overlay" data-overlay="modal">
					<a class="close js_overlayTrigger" href="#modal">&times;</a>
					<div class="modalHeader">
						<h1>Modal Header</h1>
					</div>
					<div class="modalBody">
						<p>Modal body</p>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="fourColumns">
				<a name="tooltips"></a>
				<h4>Tooltips</h4>
				<p>Tooltips are set to open above by default. You can choose to have them open to the bottom, left or right also.</p>
			</div>

			<div class="eightColumns">

				<a class="js_overlayTrigger" href="#tooltipTop">Show tooltip top<span id="tooltipTop" class="js_overlay" data-overlay="tooltip">Tooltip top content</span></a>

				<a class="js_overlayTrigger" href="#tooltipBottom">Show tooltip bottom<span id="tooltipBottom" class="js_overlay tooltipBottom" data-overlay="tooltip">Tooltip bottom content</span></a>

				<a class="js_overlayTrigger" href="#tooltipLeft">Show tooltip left<span id="tooltipLeft" class="js_overlay tooltipLeft" data-overlay="tooltip">Tooltip left content</span></a>

				<a class="js_overlayTrigger" href="#tooltipRight">Show tooltip right<span id="tooltipRight" class="js_overlay tooltipRight" data-overlay="tooltip">Tooltip right content</span></a>

			</div>
		</div>
		<div class="row">
			<div class="fourColumns">
				<a name="dropdown"></a>
				<h4>Dropdowns</h4>
				<p>Dropdowns behave in the same way that sub-menus do in the navigation component with one notable difference: dropdowns work without requiring nested lists.</p>
			</div>

			<div class="eightColumns">

				<nav>
					<a class="js_overlayTrigger dropdownTrigger" href="#dropdown">Dropdown &#9662;</a>
					<ul id="dropdown" class="js_overlay" data-overlay="dropdown">
						<li>
							<a href="">Dropdown menu item 1</a>
						</li>
						<li>
							<a href="">Dropdown menu item 2</a>
						</li>
					</ul>
				</nav>

			</div>
		</div>
		<div class="row">
			<div class="fourColumns">
				<a name="popover"></a>
				<h4>Popovers</h4>
				<p>Popovers behave like tooltips but they can also contain markup.</p>
			</div>

			<div class="eightColumns">

				<a href="#popover" class="js_overlayTrigger button default">Show Popover</a>

				<div id="popover" class="js_overlay" data-overlay="popover">
					<h4>Popover title</h4>
					<p>Popover content</p>
					<a class="close js_overlayTrigger" href="#popover">&times;</a>
				</div>

			</div>
		</div>
	</div>
</div>
