<div class="row">
	<div class="twelveColumns">
		<h3>Notifications</h3>

		<div class="row">
			<div class="fourColumns">
				<a name="alerts"></a>
				<h4>Alerts</h4>
				<p></p>
			</div>

			<div class="eightColumns">
				<div class="alertBox default">
					<p>This is a standard alert (div.alert-box).</p>
					<a href="" class="js_closeAlert close">&#xe07e;</a>
				</div>

				<div class="alertBox success">
					<p>This is a success alert (div.alert-box.success).</p>
					<a href="" class="js_closeAlert close">&#xe07e;</a>
				</div>

				<div class="alertBox alert">
					<p>This is an alert (div.alert-box.alert).</p>
					<a href="" class="js_closeAlert close">&#xe07e;</a>
				</div>

				<div class="alertBox info">
					<p>This is an info (div.alert-box.info).</p>
					<a href="" class="js_closeAlert close">&#xe07e;</a>
				</div>
			</div>
		</div>
	</div>
</div>
