@charset 'UTF-8';

/*******************************************
* IMPORT FONTS FOR BETTER TYPOGRAPHY      *
*******************************************/

// Arial and Helvetica have poor glyph specificity (e.g. 1lI), so Verdana is used for sans-serif default/fallback.
// Source Sans Pro can be used for even better glyph specificity. Uncomment the first @import below
// use it.

// To use Source Sans from Adobe for the sans-serif and native Georgia for the serifed,
// Uncomment the below @import. Source Sans is slightly more condensed and better for UI than Verdana.
// Most performant @import option
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);

// Use this one if you need a better, more condensed mono-spaced font than the native monospace
// Moderately performant
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Inconsolata);

// Use this if Source Sans and Georgia are not working well. Droid Sans and Droid Serif work very well
// Least performant option
// @import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic|Inconsolata');

/******************************************
* THIS MAKES UP THE CORE OF THE FRAMEWORK *
******************************************/

// These come from core compass framework, not phi
@import "compass/css3";

// This is all your settings variables
@import 'settings';

// This is your core: normalize and HTML5 Boilerplate CSS
@import 'core/_globals';
@import 'core/_ratios';
@import 'core/_typography';
@import 'core/_forms';
@import 'core/_buttons';
@import 'core/_icons';

/*******************************************
 * THIS MAKES UP THE COMPONENTS OF PHI     *
 *******************************************
 * NOTE: Comment out the components you do *
 * not want to use in your site/app.       *
********************************************/

// Include Grid System
@import 'extensions/grid-system/_f_convert-number-to-word';
@import 'extensions/grid-system/_f_grid-calc';
@import 'extensions/grid-system/_m_respond-to';
@import 'extensions/grid-system/_grid';

// Include Navigation Styles
@import 'extensions/navigation/_navigation';

// Include Tab Styles
@import 'extensions/tabs/_tabs';

// Helper Classes Styles
@import 'extensions/helper-classes/_helper-classes';

// Modal, "Reveal", Styles
@import 'extensions/modals/_reveal';

// Alert Styles
@import 'extensions/alerts/_alerts';

// Table Styles
@import 'extensions/tables/_tables';

// Date-Picker Styles
@import 'extensions/date-picker/_kalendae';

// Prototyping Styles
@import 'prototype/prototype';
