<section class="tabContainer">
    <h4>Admissions (Inpatient)</h4>
    <ul class="calendar admissions">
        <li class="times">
            <ul>
                <li class="time rowLabel">By Day</li>
            </ul>
        </li><!--
     --><li class="day monday">
            <ul>
                <li class="time">
                    <ul>
                        <li ng-repeat="" class="admission" data-original-title="{{adm.data}}" data-name="{{pt.fullName}}" data-type="{{adm.type}}" data-reason="{{adm.reason}}" data-provider="md.fullName">{{pt.shortName}} - {{md.initials}}</li>
                    </ul>
                </li>
            </ul>
        </li><!--
     --><li class="day tuesday">
            <ul>
                <li class="time"></li>
            </ul>
        </li><!--
     --><li class="day wednesday">
            <ul>
                <li class="time"></li>
            </ul>
        </li><!--
     --><li class="day thursday">
            <ul>
                <li class="time"></li>
            </ul>
        </li><!--
     --><li class="day friday">
            <ul>
                <li class="time"></li>
            </ul>
        </li><!--
     --><li class="day saturday">
            <ul>
                <li class="time"></li>
            </ul>
        </li><!--
     --><li class="day sunday">
            <ul>
                <li class="time"></li>
            </ul>
        </li>
    </ul>
    <h4>Appointments (Outpatient)</h4>
    <ul class="calendar appointments">
        <li class="times">
            <ul>
                <li class="rowLabel 0800">0800</li>
                <li class="rowLabel 0830">0830</li>
                <li class="rowLabel 0900">0900</li>
                <li class="rowLabel 0930">0930</li>
                <li class="rowLabel 1000">1000</li>
                <li class="rowLabel 1030">1030</li>
                <li class="rowLabel 1100">1100</li>
                <li class="rowLabel 1130">1130</li>
                <li class="rowLabel 1200">1200</li>
                <li class="rowLabel 1230">1230</li>
                <li class="rowLabel 1300">1300</li>
                <li class="rowLabel 1330">1330</li>
                <li class="rowLabel 1400">1400</li>
                <li class="rowLabel 1430">1430</li>
                <li class="rowLabel 1500">1500</li>
                <li class="rowLabel 1530">1530</li>
                <li class="rowLabel 1600">1600</li>
                <li class="rowLabel 1630">1630</li>
                <li class="rowLabel 1700">1700</li>
                <li class="rowLabel 1730">1730</li>
                <li class="rowLabel 1800">1800</li>
                <li class="rowLabel 1830">1830</li>
                <li class="rowLabel 1900">1900</li>
                <li class="rowLabel 1930">1930</li>
                <li class="rowLabel 2000">2000</li>
            </ul>
        </li><!--
         --><li class="day monday">
            <ul>
                <li class="time 0800"></li>
                <li class="time 0830"></li>
                <li class="time 0900"></li>
                <li class="time 0930"></li>
                <li class="time 1000"></li>
                <li class="time 1030"></li>
                <li class="time 1100"></li>
                <li class="time 1130"></li>
                <li class="time 1200"></li>
                <li class="time 1230"></li>
                <li class="time 1300"></li>
                <li class="time 1330"></li>
                <li class="time 1400"></li>
                <li class="time 1430"></li>
                <li class="time 1500"></li>
                <li class="time 1530"></li>
                <li class="time 1600"></li>
                <li class="time 1630"></li>
                <li class="time 1700"></li>
                <li class="time 1730"></li>
                <li class="time 1800"></li>
                <li class="time 1830"></li>
                <li class="time 1900"></li>
                <li class="time 1930"></li>
                <li class="time 2000"></li>
            </ul>
        </li><!--
         --><li class="day tuesday">
            <ul>
                <li class="time 0800">
                    <ul>
                        <li class="appointment" data-original-title="9/10/2011: 0800-0830" data-name="Donald Mathers" data-type="Inpatient Scheduled" data-reason="LOC with possible head injury" data-provider="David Telly">J. Smith - M.S.</li>
                        <li class="appointment" data-original-title="9/10/2011: 0800-0830" data-name="Donald Mathers" data-type="Inpatient Scheduled" data-reason="LOC with possible head injury" data-provider="David Telly">D. Mathers - D.T.</li>
                        <li class="appointment" data-original-title="9/10/2011: 0800-0830" data-name="Donald Mathers" data-type="Inpatient Scheduled" data-reason="LOC with possible head injury" data-provider="David Telly">L. Smith - M.S.</li>
                        <li class="appointment" data-original-title="9/10/2011: 0800-0830" data-name="Donald Mathers" data-type="Inpatient Scheduled" data-reason="LOC with possible head injury" data-provider="David Telly">J. Smith - M.S.</li>
                        <li class="hiddenPatient appointment" class="appointment" data-original-title="9/10/2011: 0800-0830" data-name="Donald Mathers" data-type="Inpatient Scheduled" data-reason="LOC with possible head injury" data-provider="David Telly">D. Mathers - D.T.</li>
                        <li class="hiddenPatient appointment" class="appointment" data-original-title="9/10/2011: 0800-0830" data-name="Donald Mathers" data-type="Inpatient Scheduled" data-reason="LOC with possible head injury" data-provider="David Telly">L. Smith - M.S.</li>
                    </ul>
                </li>
                <li class="time 0830"></li>
                <li class="time 0900"></li>
                <li class="time 0930"></li>
                <li class="time 1000"></li>
                <li class="time 1030"></li>
                <li class="time 1100"></li>
                <li class="time 1130"></li>
                <li class="time 1200"></li>
                <li class="time 1230"></li>
                <li class="time 1300"></li>
                <li class="time 1330"></li>
                <li class="time 1400"></li>
                <li class="time 1430"></li>
                <li class="time 1500"></li>
                <li class="time 1530"></li>
                <li class="time 1600"></li>
                <li class="time 1630"></li>
                <li class="time 1700"></li>
                <li class="time 1730"></li>
                <li class="time 1800"></li>
                <li class="time 1830"></li>
                <li class="time 1900"></li>
                <li class="time 1930"></li>
                <li class="time 2000"></li>
            </ul>
        </li><!--
         --><li class="day wednesday">
            <ul>
                <li class="time 0800"></li>
                <li class="time 0830"></li>
                <li class="time 0900"></li>
                <li class="time 0930"></li>
                <li class="time 1000"></li>
                <li class="time 1030"></li>
                <li class="time 1100"></li>
                <li class="time 1130"></li>
                <li class="time 1200"></li>
                <li class="time 1230"></li>
                <li class="time 1300"></li>
                <li class="time 1330"></li>
                <li class="time 1400"></li>
                <li class="time 1430"></li>
                <li class="time 1500"></li>
                <li class="time 1530"></li>
                <li class="time 1600"></li>
                <li class="time 1630"></li>
                <li class="time 1700"></li>
                <li class="time 1730"></li>
                <li class="time 1800"></li>
                <li class="time 1830"></li>
                <li class="time 1900"></li>
                <li class="time 1930"></li>
                <li class="time 2000"></li>
            </ul>
        </li><!--
         --><li class="day thursday">
            <ul>
                <li class="time 0800"></li>
                <li class="time 0830"></li>
                <li class="time 0900"></li>
                <li class="time 0930"></li>
                <li class="time 1000"></li>
                <li class="time 1030"></li>
                <li class="time 1100"></li>
                <li class="time 1130"></li>
                <li class="time 1200"></li>
                <li class="time 1230"></li>
                <li class="time 1300"></li>
                <li class="time 1330"></li>
                <li class="time 1400"></li>
                <li class="time 1430"></li>
                <li class="time 1500"></li>
                <li class="time 1530"></li>
                <li class="time 1600"></li>
                <li class="time 1630"></li>
                <li class="time 1700"></li>
                <li class="time 1730"></li>
                <li class="time 1800"></li>
                <li class="time 1830"></li>
                <li class="time 1900"></li>
                <li class="time 1930"></li>
                <li class="time 2000"></li>
            </ul>
        </li><!--
         --><li class="day friday">
            <ul>
                <li class="time 0800"></li>
                <li class="time 0830"></li>
                <li class="time 0900"></li>
                <li class="time 0930"></li>
                <li class="time 1000"></li>
                <li class="time 1030"></li>
                <li class="time 1100"></li>
                <li class="time 1130"></li>
                <li class="time 1200"></li>
                <li class="time 1230"></li>
                <li class="time 1300"></li>
                <li class="time 1330"></li>
                <li class="time 1400"></li>
                <li class="time 1430"></li>
                <li class="time 1500"></li>
                <li class="time 1530"></li>
                <li class="time 1600"></li>
                <li class="time 1630"></li>
                <li class="time 1700"></li>
                <li class="time 1730"></li>
                <li class="time 1800"></li>
                <li class="time 1830"></li>
                <li class="time 1900"></li>
                <li class="time 1930"></li>
                <li class="time 2000"></li>
            </ul>
        </li><!--
         --><li class="day saturday">
            <ul>
                <li class="time 0800"></li>
                <li class="time 0830"></li>
                <li class="time 0900"></li>
                <li class="time 0930"></li>
                <li class="time 1000"></li>
                <li class="time 1030"></li>
                <li class="time 1100"></li>
                <li class="time 1130"></li>
                <li class="time 1200"></li>
                <li class="time 1230"></li>
                <li class="time 1300"></li>
                <li class="time 1330"></li>
                <li class="time 1400"></li>
                <li class="time 1430"></li>
                <li class="time 1500"></li>
                <li class="time 1530"></li>
                <li class="time 1600"></li>
                <li class="time 1630"></li>
                <li class="time 1700"></li>
                <li class="time 1730"></li>
                <li class="time 1800"></li>
                <li class="time 1830"></li>
                <li class="time 1900"></li>
                <li class="time 1930"></li>
                <li class="time 2000"></li>
            </ul>
        </li><!--
         --><li class="day sunday">
            <ul>
                <li class="time 0800"></li>
                <li class="time 0830"></li>
                <li class="time 0900"></li>
                <li class="time 0930"></li>
                <li class="time 1000"></li>
                <li class="time 1030"></li>
                <li class="time 1100"></li>
                <li class="time 1130"></li>
                <li class="time 1200"></li>
                <li class="time 1230"></li>
                <li class="time 1300"></li>
                <li class="time 1330"></li>
                <li class="time 1400"></li>
                <li class="time 1430"></li>
                <li class="time 1500"></li>
                <li class="time 1530"></li>
                <li class="time 1600"></li>
                <li class="time 1630"></li>
                <li class="time 1700"></li>
                <li class="time 1730"></li>
                <li class="time 1800"></li>
                <li class="time 1830"></li>
                <li class="time 1900"></li>
                <li class="time 1930"></li>
                <li class="time 2000"></li>
            </ul>
        </li>
    </ul>
</section>
<div id="eventDetailTemplate" style="display:none;">
    <dl>
        <dt>Patient:</dt>
        <dd class="name"></dd>
        <dt>Provider:</dt>
        <dd class="provider"></dd>
        <dt>Type:</dt>
        <dd class="type"></dd>
        <dt>Reason:</dt>
        <dd class="reason"></dd>
    </dl>
    <div class="popoverActions">
        <a class="btn btn-cancel btn-small" href="#">Edit Appt.</a>
        <a class="btn btn-success btn-small" href="#">Check Pt. In</a>
    </div>
</div>