@charset 'UTF-8';

/******************************************
* THIS MAKES UP THE CORE OF THE FRAMEWORK *
******************************************/

// These come from core compass framework, not phi
@import "compass/css3";

// This is all your settings variables
@import 'settings';

// This are your core features
@import 'framework/core/globals';
@import 'framework/core/ratios';
@import 'framework/core/typography';
@import 'framework/core/forms';
@import 'framework/core/buttons';

// Icons
// TODO: This currently uses the whole icon library,
// which is not recommended. Load only the icons
// you need.
@import 'framework/core/icons';

/*******************************************
 * THIS MAKES UP THE COMPONENTS OF PHI     *
 *******************************************/

// Include Grid System
@import 'framework/components/grid-system/f_convert-number-to-word';
@import 'framework/components/grid-system/f_grid-calc';
@import 'framework/components/grid-system/m_respond-to';
@import 'framework/components/grid-system/grid';

// Include Navigation Styles
@import 'framework/components/navigation/navigation';

// Include Tab Styles
@import 'framework/components/tabs/tabs';

// Helper Classes Styles
@import 'framework/components/helper-classes/helper-classes';

// Overlay Styles (dropdown, modal, popover and tooltip)
@import 'framework/components/overlay/overlay';

// Alert Styles
@import 'framework/components/alerts/alerts';

// Date-Picker Styles
@import 'framework/components/date-picker/date-picker';

// Accordion Styles
@import 'framework/components/accordion/accordion';

// Table Styles
@import 'framework/components/tables/tables';

/*******************************************
 * THIS MAKES UP THE PROTOTYPING OF PHI    *
 *******************************************
 * Note: This should only be used for      *
 * prototyping and should be removed when  *
 * project is actually started             *
 *******************************************/

@import 'framework/prototype/prototype';
