/* This file contains styles for rapid prototyping
 * Remove this dependency from your main Sass file
 * when you start fully developing your website/app
 */

// Typography

h1 {
	font-family: $sansFontFamily;
	color: $grayLight;
	font-style: normal;
	font-weight: 100;
}
h2 {
	font-family: $sansFontFamily;
	color: $gray;
	font-style: normal;
	font-weight: 700;
}
h3, legend {
	font-family: $sansFontFamily;
	color: $gray;
	font-style: normal;
	font-weight: 700;
}
h4 {
	font-family: $serifFontFamily;
	color: $gray;
	font-style: normal;
	font-weight: 700;
}
h5 {
	font-family: $serifFontFamily;
	color: $gray;
	font-style: normal;
	font-weight: 700;
}
h6 {
	font-family: $serifFontFamily;
	color: $grayLight;
	font-style: italic;
	font-weight: 400;
}
.subheader {
	color: lighten($gray, 30%);
}
blockquote, blockquote p {
	font-style: italic;
	font-family: $serifFontFamily;
	color: $grayLight;
}
blockquote {
	border-#{$defaultDirection}: 5px solid $grayLighter;

	cite {
		color: lighten($gray, 20%);

		&:before {
			content: "\2014 \0020";
		}
		a, a:visited {
			color: lighten($gray, 20%);
		}
	}
}
abbr, acronym {
	text-transform: uppercase;
	font-size: 90%;
	color: $gray;
	border-bottom: 1px solid #ddd;
	cursor: help;
}

// Forms

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
textarea,
select {
	@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
	@include transition(all 0.15s linear);
}
select {
	@include box-shadow(inset 0 -2px 4px rgba(0, 0, 0, 0.05));
	@include transition(none);
}

// Buttons


// Icons


// Navbar


// Tabs


// Helper Classes


// Modal (Reveal)


// Alerts


// Tables


// Kalendae
