.linkList {
	margin: 0 0 $baseLineHeight;
	padding: 0;
	list-style: none;

	& > li {
		list-style: none;
		display: block;

		& > a {
			display: block;
			padding: ($baseLineHeight / 2) $baseLineHeight;
		}
	}
}
.dropDownMenu {

	li {

		ul,
		ol {
			margin: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transition: .1s;
			white-space: nowrap;
			visibility: hidden;

			a {
				display: block;
			}
		}
	}
}
.inlineLinkList {
	margin: $baseLineHeight 0;
	padding: 0;
	list-style: none;

	& > li {
		list-style: none;
		display: inline-block;
		position: relative;
		vertical-align: top;

		& > a {
			display: block;
			padding: ($baseLineHeight / 2) $baseLineHeight;
		}
	}
	.dropDown {
		position: absolute;
		right: 0;
		width: inherit;
		min-width: 10em;
		max-width: 20em;

		& > li > a {
			text-align: center;
			padding: ($baseLineHeight / 2) $baseLineHeight;
		}
	}
}
.navItem {
	position: relative;

	a {
		color: $baseTextColor;
		line-height: 100%;
		text-decoration: none;
		padding: 0.6em $baseLineHeight;
	}
	&.hasDropdown > a {
		display: inline-block;
		padding-right: ($baseLineHeight / 4);
	}
	& .disclosureArrow {
		display: inline-block;
		text-decoration: none;
		padding-left: ($baseLineHeight / 4);

		&:hover i {
			background: $mainColor;
		}
		&.open {
			background: $mainColor;
		}
	}
	& > ul {
		//display: none;
	}
	&.active {

		& > a {
			cursor: default;

			&:hover {
				cursor: default;
			}
		}
		.dropDownTrigger > a {

			&:hover {
				cursor: pointer;
			}
		}
	}
}
/* This is the hidden dropdown menu */
.dropDown {
	display: none;
	margin: 0;

	& > li > a {
		display: block;
		padding: ($baseLineHeight / 2) $baseLineHeight;
	}
}

/* This is the fallback Superfish hover menu */
.hasHover > li:hover > ul, .hasHover > li > ul.hovering {
	 //display: block !important;
	 opacity: 1;
	 top: 100%;
	 visibility: visible;
 }

/* Very large screens */
@media only screen and (min-width: $screenXlarge) {}

/* Medium screens */
@media only screen and (max-width: $screenMedium) and (min-width: $screenSmall) {

	.navItem {

		a {
			line-height: $baseLineHeight;
			padding-top: $baseLineHeight / 2;
			padding-bottom: $baseLineHeight / 2;
		}
	}
}

/* Small screens */
@media only screen and (max-width: $screenSmall) {}

/* Landscape Orientation */
@media screen and (orientation: landscape) {}

/* Portrait Orientation */
@media screen and (orientation: portrait) {}

/* Touch Detection */
.touch .your-class {}
