/* Normal Buttons ---------------------- */

.button {
	width: auto;
	cursor: pointer;
	display: inline-block;
	font-family: $buttonFontFamily;
	font-weight: $buttonFontWeight;
	line-height: 1.125em;
	margin:  ($baseLineHeight / 2) 0;
	padding: ($baseLineHeight / 2) $baseLineHeight;
	position: relative;
	text-align: center;
	text-decoration: none;
	@include border-radius($buttonRadius);

	/* Disabled ---------- */
	&.disabled, &[disabled] {
		opacity: 0.6;
		cursor: not-allowed;
	}
}
.button + .button {
	margin-left: $baseLineHeight / 2;
}

/* Sizes */
.buttonLarge {
	font-size: $largeFontSize;
	line-height: 1em;
	font-weight: 700;
	padding: 1.1em 1.5em;
	margin:  0.55em 0;
}
.buttonSmall {
	font-size: $smallFontSize;
	padding: 0 ($baseLineHeight / 4);
	line-height: 1.285714286em;
}
.buttonExpanded {
	width: 100%;
}

/* Don't use native buttons on iOS */
input[type=submit].button, button.button {
	-webkit-appearance: none;
}

/* Button Groups ---------------------- */

.buttonGroup {
	list-style: none;
	padding: 0;
	margin: 0 0 12px;
	display: table;

	li {
		padding: 0;
		margin: 0 0 0 -1px;
		display: table-cell;
		&:first-child {
			margin-#{$defaultDirection}: 0;
		}

		a, input[type="submit"] {
			&.button, &.button {
				@include border-radius(0px);
				border-right-width: 0;
			}
		}
		&:first-child a, &:first-child input[type="submit"] {
			&.button {
				@include border-corner-radius(top, $defaultDirection, $buttonRadius);
				@include border-corner-radius(bottom, $defaultDirection, $buttonRadius);
			}
			&.button.rounded {
				@include border-corner-radius(top, $defaultDirection, 1000px);
				@include border-corner-radius(bottom, $defaultDirection, 1000px);
			}
		}
		&:last-child a, &:last-child input[type="submit"] {
			&.button {
				@include border-corner-radius(top, $defaultOpposite, $buttonRadius);
				@include border-corner-radius(bottom, $defaultOpposite, $buttonRadius);
				border-right-width: 1px;
			}
			&.button.rounded {
				@include border-corner-radius(top, $defaultOpposite, 1000px);
				@include border-corner-radius(bottom, $defaultOpposite, 1000px);
				border-right-width: 1px;
			}
		}
	}
}

div.buttonBar {

	.buttonGroup {
		display: inline-block;
		margin-right: $columnGutter;
	}
	ul.buttonGroup:last-child {
		margin-right: 0;
	}
}


/* Very large screens */
@media only screen and (min-width: $screenXlarge) {}

/* Medium screens */
@media only screen and (max-width: $screenMedium) and (min-width: $screenSmall) {}

/* Small screens */
@media only screen and (max-width: $screenSmall) {}

/* Landscape Orientation */
@media screen and (orientation: landscape) {}

/* Portrait Orientation */
@media screen and (orientation: portrait) {}

/* Touch Detection */
.touch .your-class {}
