/* CSS for jQuery Reveal Plugin
 * Maintained for Foundation. foundation.zurb.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Reveal Modals ---------------------- */

.modalBg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background-color: rgba(#000, 0);
	display: none;
	z-index: 10;
	top: 0;
	#{$defaultDirection}: 0;
	@include transition(background-color 0.2s ease-in);

	&.displayModalBg {
		display: block;
		visibility: visible;
	}
	&.animateModalBg {
		background-color: rgba(#000, 0.45);
	}
}

.modal {
	background: #fff;
	visibility: hidden;
	display: none;
	top: -100%;
	#{$defaultDirection}: 50%;
	width: 50%;
	margin-#{$defaultDirection}: -25%;
	position: absolute;
	z-index: 11;
	@include box-shadow(
		0 0 10px rgba(#000, .4),
		0 12px 10px -10px rgba(#000, .25) inset
	);
	@include transition(top 0.4s ease-in);

	&.expand {
		width: 90%;
		margin-#{$defaultDirection}: -45%;
	}
	.row {
		min-width: 0;
		margin-bottom: 10px;
	}
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}

	&.displayModal {
		display: block;
		visibility: visible;
	}
	&.animateModal {
		top: 0;
	}
}
.modalSmall {
	width: 30%;
	margin-#{$defaultDirection}: -15%;
}
.modalLarge {
	width: 70%;
	margin-#{$defaultDirection}: -35%;
}
.modalFullWidth {
	width: 90%;
	margin-#{$defaultDirection}: -45%;
}
.modalHeader {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0 $baseLineHeight;
}
.modalBody {
	position: relative;
	max-height: 600px;
	overflow-y: auto;
	padding: $baseLineHeight;

	& > ul, ol {
		margin-left: $baseLineHeight;
	}
}

// Footer (for actions)
.modalFooter {
	padding: $baseLineHeight;
	margin-bottom: 0;
	text-align: right; // right align buttons
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	@include border-radius(0 0 6px 6px);
	@include box-shadow(inset 0 1px 0 $white);

	// Properly space out buttons
	.button + .button {
		margin-left: 5px;
	}
	.button {
		margin: $baseLineHeight / 2;
		margin-bottom: $baseLineHeight / 4;
	}
}

@media print {

	div:not(.modal) {
		display: none;
	}
	.modal {
		border: solid 1px #000;
		background: #fff;
	}
}

/* Very large screens */
@media only screen and (min-width: $screenXlarge) {}

/* Medium screens */
@media only screen and (max-width: $screenMedium) and (min-width: $screenSmall) {}

/* Small screens */
@media only screen and (max-width: $screenSmall) {

	.modal,
	.modalSmall,
	.modalLarge {
		width: 95%;
		margin-#{$defaultDirection}: -47.5%;
	}
}

/* Landscape Orientation */
@media screen and (orientation: landscape) {}

/* Portrait Orientation */
@media screen and (orientation: portrait) {}

/* Touch Detection */
.touch .your-class {}
